/* Write your CSS here */
.language-filter-item-list-style {
  list-style-type: none;
  margin-right: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.language-filter-item-button-style1 {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 500;
  color: #1e293b;
}
@media screen and (min-width: 768px) {
  .language-filter-item-button-style1 {
    font-size: 20px;
  }
}
.language-filter-item-button-style2 {
  border-radius: 12px;
  border: 2px solid #0284c7;
  color: #0284c7;
  padding: 10px;
}
